/* poppins-300 - latin */
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/poppins-v24-latin-300.woff2') format('woff2');
}
/* poppins-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/poppins-v24-latin-regular.woff2') format('woff2'); 
}
/* poppins-600 - latin */
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/poppins-v24-latin-600.woff2') format('woff2');
}
/* poppins-900 - latin */
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/poppins-v24-latin-900.woff2') format('woff2');
}

:root{
    --color-primary-dark:#31261A;
    --color-primary-light:#FAF4EA;
    
    --color-brand-normal:#819B57;
    --color-brand-dark:#465929;
    --color-brand-light:#CFCFBC;
    
    --color-secondary-dark:#A18268;
}

/* Base */

*{
    box-sizing: border-box;
}

.section{
    padding: 48px 0;
}

body{
    color: var(--color-primary-dark);
    background-color: var(--color-primary-light);
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
}

h1,h2,h3,h4,h5,h6,p{
    margin-top: 0;
}

.hidden{
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

adress{
    font-style: normal;
}

.container{
    width: 100%;
    max-width: 1288px;
    margin: 0 auto;
    padding: 0 24px;
}

/* Button */
.button{
    padding: 16px 32px;
    color: var(--color-primary-light);
    background-color:var(--color-brand-normal);
    border: 2px solid var(--color-brand-normal);
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
}

.button:hover{
    color: #465929;
    background-color: transparent;
}

/* Link */
.link{
    color: var(--color-primary-light);
    text-decoration: none;
    line-height: 1.5;
}

.link:hover{
    color: var(--color-brand-normal);
}

/* Header */

.header-container{
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-nav{
    display: flex;
    flex-grow: 1;
    align-items: center;
    gap: 40px;
}

.header-menu{
    display: flex;
    gap: 64px;
    flex-grow: 1;
    justify-content: center;
}

/* Hero-section */

.hero-section{
    padding: 272px 0;
    background-image: url('../images/hero-section-background.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

.hero-title{
    margin-bottom: 0;
    color: var(--color-primary-light);
    text-align: center;
    font-size: 128px;
    font-weight: 900;
    line-height: 1.5;
}

.hero-title .accent{
    color: var(--color-brand-normal);
}

/* Adventages-section */

.advatages-section{
    padding: 16px 0;
    background-color: var(--color-brand-normal);
}

.adventages-list{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    
}

.adventages-item{
    font-size: 20px;
    font-weight: 300;
    color: var(--color-primary-light);
}

/* Sections-titles */
.section-title .accent{
    color: var(--color-brand-dark);
}

.section-title{
    font-size: 64px;
    font-weight: 900;
    line-height: 1.3;
}

.section-title.centered{
    text-align: center;
}

/* Traditions-section */

.traditions-section{
    padding-top: 96px;
}

.traditions-container{
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.traditions-content{
    max-width: 710px;
}


.traditions-title{
    margin-bottom: 42px;
}

.traditions-text .uppercase{
    color: var(--color-brand-normal);
    text-transform: uppercase;
}

.traditions-text .brand{
    color: var(--color-brand-normal);
    font-weight: 600;
}

.tradtions-text.limited{
    max-width: 340px;
}

/* Chef-section */
.chefs-title::before{
    content: '';
    display: block;
    width: 352px;
    border: 2px solid #CFCFBC;
}

.chefs-title::after{
    content: '';
    display: block;
    width: 352px;
    border: 2px solid #CFCFBC;
}

.chefs-title{
    max-width: 520px;
    margin: 0 auto 80px;
}

.chef-title{
    margin-bottom: 16px;
    font-size: 40px;
    font-weight: 600;
    line-height: 1.5;
}

.chef-image{
    border-radius: 4px 4px 4px 200px;
    box-shadow: -16px 16px var(--color-primary-light), -16px 16px 2px var(--color-secondary-dark);
}

/* Format-section */
.format-title{
    font-size: 24px;
    font-weight: 600;
}

.formats-title{
    margin-bottom: 80px;
}

.format-text{
    font-size: 14px;
    font-weight: 300;
}

.formats-list{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.formats-item{
    flex-basis: calc((100% - 40px) / 3);
}

.format-card{
    height: 444px;
    background: linear-gradient(180deg, rgba(49, 38, 26, 0) 55.21%, rgba(49, 38, 26, 0.71) 72.92%, #31261A 100%);
    padding: 24px;
    border: 1px solid var(--color-brand-normal);  /*remove*/
    border-radius: 16px;
}

/* Carousel */
.carousel-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid var(--color-primary-dark);
    padding: 0;
    cursor: pointer;
}

.carousel-button:hover{
    background-color: var(--color-primary-dark);
}

.carousel-button:hover .carousel-arrow{
    fill: var(--color-primary-light);
}

.carousel-arrow{
    fill: var(--color-primary-dark);
}


/* Footer */
.adress-link{
    color: var(--color-primary-light);
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
}
.adress-link:hover{
    color: var(--color-brand-normal);
}

.address-copyright{
    font-size: 14px;
}

.footer{
    background-color: var(--color-primary-dark);
    background-image: url('../images/footer-background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.address-icon{
    fill: var(--color-primary-light);
}
